<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let card of model">
    <ion-card-header>
      <ion-card-subtitle>{{card.category}}</ion-card-subtitle>
      <ion-card-title>{{card.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="card.image"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
